<div class="footy-sec">
    <div class="container">
        <ul>
            <li><a href="#" title="">Hakkında</a></li>
            <li><a href="#" title="">Gizlilik Politikası</a></li>
            <li><a href="#" title="">Kullanıcı sözleşmesini</a></li>
            <li><a href="#" title="">Çerez Politikası</a></li>
            <li><a href="#" title="">Telif Hakkı Politikası</a></li>
        </ul>
        <p>Copyright 2022</p>
    </div>
</div>
</main>

</body>

</html>
<script src="assets/js/jquery.js"></script>

<script src="assets/js/slick.min.js"></script>
<script src="assets/js/script.js"></script>