<%- include ('./partials/_header') -%>
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="row">
                                <h1 class="slogan">Yeni Nesil Küresel İş Ekosistemine Hoş Geldiniz!</h1>
                            </div>
                            <div class="row">
                                <ul class="sistem-ozet">
                                    <li><a href="#">Dijital Profil Oluşturabilirsin</a> <i
                                            class="las la-check-circle"></i></li>
                                    <li><a href="#">İş İstihbaratları Alabilirsin</a> <i
                                            class="las la-check-circle"></i></li>
                                    <li><a href="#">İş Ekosistemi Kurabilirsin</a> <i class="las la-check-circle"></i>
                                    </li>
                                    <li><a href="#">Servis Desteği Alabilirsin</a> <i class="las la-check-circle"></i>
                                    </li>
                                    <li><a href="#">B2B Ürün Desteği Alabilirsin</a> <i class="las la-check-circle"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/home-user.png" alt="">
                        </div>
                    </div>
                    <div class="row home-card">
                        <div class="col-lg-6 col-md-6 home-resim">
                            <img src="assets/img/kartvizit.png" alt="">
                        </div>
                        <div class="col-lg-6 col-md-6 home-paragraf">
                            <p class="paragraf">
                                “Dijital Profil” oluşturabilir, müşterilerinize tek kanaldan bilgi paylaşabilirsiniz.

                                Profilinde dijital kartvizit ve dijital katalog ile basılı yayına ihtiyaç duymadan Link
                                paylaşabilir ve
                                bu sayede doğayı koruyabilirsin.

                            </p>
                        </div>

                    </div>
                    <div class="row home-card">

                        <div class="col-lg-6 col-md-6 home-paragraf">
                            <p class="paragraf">
                                İş veya proje istihbaratı elde edebilir, şirketinizin iş geliştirme faaliyetlerine
                                destek verebilirsiniz

                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 home-resim">
                            <img src="assets/img/business-dev.png" alt="">
                        </div>
                    </div>
                    <div class="row ekosistem">
                        <div class="col-lg-12 col-md-12 home-baslik">
                            <h1>Kendi “İş Ekosistemini” oluşturabilirsin.</h1>
                        </div>
                        <div class="col-lg-6 col-md-6 ekosistem-card">
                            <img src="assets/img/ekosistem.png" alt="">
                            <div class="paragraf">
                                Üretici firmalar ile tanışıp tedarikçiler oluşturabilir, ürünlerini projelerinde
                                kullanabilirsin.
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 ekosistem-card">
                            <img src="assets/img/baglanti.png" alt="">
                            <div class="paragraf">
                                Satıcı firmalar ile tanışıp ürettiğin ürün, hizmet veya çözümlerin satışında ortaklıklar
                                kurabilirsin.
                            </div>
                        </div>
                    </div>
                    <div class="home-card">


                        <div class="home-slider">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 home-resim">
                                    <img src="assets/img/randevu.png" alt="">
                                </div>
                                <div class="col-lg-6 col-md-6 home-paragraf">
                                    <p class="paragraf">
                                        <b>İş geliştirme desteği alabilir</b> <br>Randevu hizmeti ve danışman desteği
                                        talep edebilirsin.

                                    </p>
                                </div>

                            </div>



                            <div class="row">
                                <div class="col-lg-6 col-md-6 home-resim">
                                    <img src="assets/img/reklam.png" alt="">
                                </div>
                                <div class="col-lg-6 col-md-6 home-paragraf">
                                    <p class="paragraf">
                                        Projenerasyon Ekosistemine, reklam ve benzersiz teklifler ile kampanya
                                        düzenleyebilir. <br>Aynı
                                        zamanda ekosisteme özel kampanyalardan faydalanabilirsiniz.


                                    </p>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 home-resim">
                                    <img src="assets/img/dunya.png" alt="">
                                </div>
                                <div class="col-lg-6 col-md-6 home-paragraf">
                                    <p class="paragraf">
                                        Küresel ortaklar ile tanışabilir <br>Ortaklıklar kurabilir ve dünyanın diğer
                                        bölgelerine
                                        ürünlerinizi ulaştırabilirsiniz.



                                    </p>
                                </div>


                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 home-baslik">
                            <h2>Projenerasyon Ekosistemine dahil olup avantajlarından faydalanmaya hemen başla!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include ('./partials/_footer') -%>
    </main>
  