<div class="overview-box" id="experience-box">
    <div class="overview-edit">
      <h3>Anket</h3>
      <form>

        <input type="text" name="name" placeholder="Sorunuz">

        <input type="text" name="name" placeholder="Seçenek 1">
        <input type="text" name="name" placeholder="Seçenek 2">
        <div>
          <button class="add-btn">+ Seçenek Ekle</button>
        </div>
        <select name="subject" id="" style="height: 40px;">
          <option value="">Anket Süresi</option>
          <option value="">1 Gün</option>
          <option value="">3 Gün</option>
          <option value="">1 Hafta</option>
          <option value="">2 Hafta</option>
        </select>
        <br>
        <button type="submit" class="save">Kaydet</button>

        <button type="submit" class="cancel">Kapat</button>
      </form>
      <a href="#" title="" class="close-box"><i class="la la-close"></i></a>
    </div>
    <!--overview-edit end-->
  </div>
  <script src="assets/js/jquery.js"></script>

  <script src="assets/js/slick.min.js"></script>
  <script src="assets/js/script.js"></script>

</body>

</html>